@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter' sans-serif;
    }
}

:root {
    --scroll-width: 10px;
    --scroll-height: 10px;

    --scroll-track-rgb: #0A0A0A;
    --scroll-track-border-radius: 0px;

    --scroll-thumb-rgb: #292524;
    --scroll-thumb-border-radius: 0px;

    --scroll-thumb-hover-rgb: #44403C;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: var(--scroll-width);
    height: var(--scroll-height);
}

::-webkit-scrollbar-track {
    background: var(--scroll-track-rgb);
    border-radius: var(--scroll-track-border-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-rgb);
    border-radius: var(--scroll-thumb-border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-rgb);
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-rgb) var(--scroll-track-rgb);
}

body::-webkit-scrollbar {
    width: var(--scroll-width);
    height: var(--scroll-height);
}

body::-webkit-scrollbar-track {
    background: var(--scroll-track-rgb);
    border-radius: var(--scroll-track-border-radius);
}

body::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-rgb);
    border-radius: var(--scroll-thumb-border-radius);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-rgb);
}